:root {
    --align-center: center;
    --align-stretch: stretch;
    --align-baseline: baseline;
    --align-flex-start: flex-start;
    --align-flex-end: flex-end;
    --background-cover: cover;
    --background-no-repeat: no-repeat;
    --background-pos-100: 100%;
    --background-pos-center: center;
    --background-pos-top: top;
    --btn-background: #FC640E;
    --bg-header-color: #04003a;
    --bg-footer: #33333a;
    --bg-Transparent: transparent;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-light-gray: #edf1fc;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --border-0: 0px;
    --border-1: 1px;
    --border-2: 2px;
    --border-radius-0: 0px;
    --border-radius-1: 1px;
    --border-radius-2: 2px;
    --border-radius-3: 3px;
    --border-radius-50: 50%;
    --cursor-pon: pointer;
    --commonBG-orange: #f7630c;
    --papaya-color: #9FFF05;
    --display-none: none;
    --display-Block: block;
    --display-in-flex: inline-flex;
    --display-Grid: grid;
    --display-Flex: flex;
    --font-S-12: 12px;
    --font-S-14: 14px;
    --font-S-16: 16px;
    --font-S-18: 18px;
    --font-S-20: 20px;
    --font-S-22: 22px;
    --font-S-24: 24px;
    --font-S-26: 26px;
    --font-S-28: 28px;
    --font-S-30: 30px;
    --font-S-32: 32px;
    --font-S-34: 34px;
    --font-S-36: 36px;
    --font-S-38: 38px;
    --font-S-40: 40px;
    --font-S-42: 42px;
    --font-S-44: 44px;
    --font-S-46: 46px;
    --font-S-48: 48px;
    --font-S-50: 50px;
    --font-S-52: 52px;
    --font-S-54: 54px;
    --font-B-400: 400;
    --font-B-500: 500;
    --font-B-600: 600;
    --font-B-700: 700;
    --flex-dir-col: column;
    --flex-dir-row: row;
    --height-100: 100%;
    --insta-color: #c33223;
    --justify-content-center: center;
    --justify-space-between: space-between;
    --justify-space-around: space-around;
    --justify-space-center: center;
    --justify-flex-end: flex-end;
    --justify-flex-start: flex-start;
    --line-height-1: 1;
    --line-height-1-2: 1.2;
    --line-height-1-5: 1.5;
    --line-height-1-7: 1.7;
    --line-height-2: 2;
    --line-height-2-3: 2.3;
    --line-height-2-5: 2.5;
    --line-height-3: 3;
    --list-S-none: none;
    --letter-space-2: 2px;
    --letter-space-1-5: 1.5px;
    --letter-space-1: 1px;
    --letter-space-0-5: .5px;
    --margin-0: 0;
    --margin-2: 2px;
    --margin-5: 5px;  
    --margin-10: 10px;     
    --overflow-H: hidden;
    --overflow-V: visible;
    --object-cover: cover;
    --object-contain: cover;
    --opacity-1: 1;
    --opacity-0-8: .8;
    --opacity-0-7: .7;
    --opacity-0-6: .6;
    --opacity-0-5: .5;
    --opacity-none: 0;
    --outline-offset-0: 0px;
    --outline-offset-10: 10px;
    --order-1: 1;
    --order-2: 2;
    --order-3: 3;
    --order-4: 4;
    --pad-1: 1px;
    --pad-2: 2px;
    --pad-5: 5px;
    --pad-10: 10px;
    --pad-15: 15px;
    --pad-20: 20px;
    --position-relative: relative;
    --position-absolute: absolute;
    --position-fix: fixed;
    --position-static: static;
    --text-no-underline: none;
    --text-underline: underline;
    --text-upper: uppercase;
    --text-capital: capitalize;
    --text-lower: lowercase;
    --text-J: justify;
    --text-C: center;
    --text-R: right;
    --text-L: left;
    --text-decoration-none:none;
    --transition: all 500ms ease;
    --transform-scale-1-1: scale(1.1);
    --transform-scale-1-2: scale(1.2);
    --transform-scale-1-3: scale(1.3);
    --transform-scale-1-4: scale(1.4);
    --twitter-color: #2478ba;
    --youtube-color: #c33223;
    --width-0100: 100%;
}